/*styling a whole elemnt */
a {
  text-decoration: none;
}

body {
  background-color: #0d0d0d;
  margin: 0;
  padding: 0;
}

/* nav bar */
nav {
  height: 7rem;
  background-color: #121212;
  border-bottom: 2px solid rgba(13, 7, 7, 0.5);
  width: 100vw;
  position: fixed;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-right: 4rem;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.nav-image {
  flex: 0 0 auto;
}
.nav-image,
img {
  height: 100%;
  max-height: 6.5rem;
  width: 5rem;
  margin-left: 1.5rem;
}

.nav-color {
  color: whitesmoke;
}
/* main content on the home page */

.main-container {
  display: grid;
  justify-content: center;
}
